<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href= "{{ url_for('static',filename='styles/main.css') }}">
		<title>Search Project</title>
	</head>

	<body>
		<h3>Web Data Search</h3>
		<form method="get" action="{{ url_for('results') }}">
			<select name="searchDatabase">
				<option value="whoosh">Whoosh!</option>
				<option value="mongo">MongoDB</option>
			</select>
			<select name="searchProperty">
				<option value="location">Location</option>
				<option value="Name">Name</option>
			</select>
			<input type="text" name="searchterm" />
			<input type="submit" value="Search" />
		</form>	
	</body>	
</html>